html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}

form {
  padding: 20px;
  /* margin-top: 60px; */
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

/* Own */
/* Create data */
.add-data {
  margin-bottom: 0;
  padding: 0;
}

.input-field {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
}

.forty {
  width: 40%;
}

.fifteen {
  width: 15%;
}

.five {
  width: 5%;
}

/* Show data list */
.button-padding {
  padding-top: 0px;
  padding-right: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
}

.strong {
  font-weight: 500;
}

.no-margin {
  margin: 0;
}

.space {
  margin: 30px;
}
